@mixin bio-info {
    text-align: center;
    
    .item-img {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: center;
    }
  }

  @mixin imagen {
    img {
      width: 100%;
      height: 100%;
    }
  }

  
  .bio-info {
    @include bio-info;
  }
  .imagen {
    @include imagen
  }