/* Locales */
.imagen {
    width: 350px;
    height: 250px;
    padding: 30px;
}
.mapa {
    width: 100%;
}
h5 {
    margin: 50px;
    text-align: center;
    font-family:'Times New Roman', Times, serif
    
}